{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "browser": false
  },
  "extends": [
    "eslint:recommended"
  ]
}
