# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# Ignore bower componnents
bower_components

# OS or Editor folders
.DS_Store
Thumbs.db
.cache

# Static site output
_site

# Don't track the main CSS file
css