{% if site.google_analytics_tracking_id %}

  {% env prod %}

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ site.google_analytics_tracking_id }}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

      // track clicks on outbound hyperlinks
      (function() {

        var links = document.getElementsByTagName("a")
          , link
          , i = 0

        function isLink(el) {
          return el.nodeName.toLowerCase() == "a" && el.href
        }

        function isExternalLink(el) {
          return el.href.indexOf(location.host) < 0
        }

        function getLinkAncestor(el) {
          if (isLink(el)) return el
          while (el.parentNode && el.parentNode.nodeType == 1) {
            if (isLink(el)) return el
            el = el.parentNode
          }
        }

        function logExternalClicks(event) {
          var e = event || window.event
            , target = e.target || e.srcElement
            , link = getLinkAncestor(target)
          if (link && isExternalLink(link)) {
            _gaq.push(['_trackEvent', 'Outbound Link', link.href]);
          }
        }

        // add target="_blank" to external links
        while(link = links[i++]) {
          if (link.target != "_blank" && isExternalLink(link)) {
            link.target = "_blank"
          }
        }

        // register logging on click events
        if (document.addEventListener) {
          document.addEventListener("click", logExternalClicks)
        }
        else if (document.attachEvent) {
          document.attachEvent("onclick", logExternalClicks)
        }

      }())
    </script>

  {% endenv %}

{% endif %}