{% capture header_cls %}{% if page.title == "Home" %}{{ "Header" }}{% else %}{{ "Header Header--cozy" }}{% endif %}{% endcapture %}
<header class="{{ header_cls }} with-Button" role="banner">
  <div class="Header-titles">
    <h1 class="Header-title"><a href="{{ '/' | absolute }}">Solved <i>by</i> Flexbox</a></h1>
    <h2 class="Header-subTitle">Cleaner, hack-free CSS</h2>
  </div>
  <div class="Header-actions">
    <button class="Button Button--action">View Source on Github</button>
    <button class="Button">Follow Project</button>
  </div>
</header>
