<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% if page.title %}{{ page.title }} &mdash; {% endif %}Solved By Flexbox &mdash; Cleaner, hack-free CSS</title>

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name=viewport content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="A showcase of problems once hard or impossible to solve with CSS alone, now made trivially easy with Flexbox.">

  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
  <link href="{{ '/css/style.css' | absolute }}" rel="stylesheet" type="text/css">

  <script class="js-allow-in-head" src="//use.typekit.net/txx2jfv.js"></script>
  <script class="js-allow-in-head">try{Typekit.load();}catch(e){}</script>

  {% include google-analytics.html %}
</head>
