{% env dev %}

  <script src="http://cdnjs.cloudflare.com/ajax/libs/html-inspector/0.5.0/html-inspector.js"></script>

  <script>

    HTMLInspector.rules.extend("unused-classes", function(config) {
      config.whitelist = config.whitelist.concat([
        // "twitter-follow-button",
        /^icon/,
        /^wf-/
      ])
      return config
    })

    HTMLInspector.rules.extend("script-placement", function(config) {
      config.whitelist = config.whitelist.concat([".js-allow-in-head"])
      return config
    })

    // start the inspection
    HTMLInspector.inspect({
      excludeElements: ["svg", "iframe"]
    })

  </script>

{% endenv %}