*, *::before, *::after {
  box-sizing: border-box;
}

html {
  color: hsl(0,0%,25%);
  font-size: 0.875em;
  font-weight: 300;
  line-height: 1.333;
}

body {
  padding: 3em;
}

h1, h2, h3, p {
  margin: 0 0 1rem;
}