*, *::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  color: hsl(0,0%,25%);
  font: 300 1em/1.333 "proxima-nova", sans-serif;
}

h1 {
  margin: 0 0 0.5em;
  font-weight: 700;
  font-size: 3em;
  line-height: 1;
  -webkit-font-kerning: normal;
}

h2 {
  margin: 0 0 1em;
  font: 700 1.3em "ff-tisa-web-pro", serif;
  -webkit-font-kerning: normal;
}

h3 {
  margin: 0 0 1em;
  font-size: 1em;
}

pre, p {
  margin: 0 0 1em;
}

pre, code {
  font-family: "source-code-pro", monospace;
}

code {
  font-size: .9em;
  font-weight: normal;
  color: #000;
}

pre > code {
  font: inherit;
  color: inherit;
}

a {
  border-bottom: 1px dashed hsla(150, 45%, 50%, 0.5);
  color: hsl(150, 45%, 50%);
  text-decoration: none;
  &:hover, &:focus {
    border-bottom: 1px solid hsl(150, 45%, 50%);
  }
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}
