$breakpoints: (
  "(min-width: 24em)" "small",
  "(min-width: 36em)" "med",
  "(min-width: 48em)" "large"
);

@mixin breakpoint($point) {
  @each $breakpoint in $breakpoints {
    $query: nth($breakpoint, 1);
    $name: nth($breakpoint, 2);
    @if ($name == $point) {
      @media #{$query} { @content }
    }
  }
}
