// highlight.js github theme

.highlight {

  padding: 1em 1.5em;
  margin: 0 0 1em;
  border-radius: 3px;
  background: hsla(31, 15%, 50%, 0.1);
  font-size: 0.85em;

  em {
    background-color: #fff080;
    font-style: normal;
  }

  .comment,
  .template_comment,
  .diff .header,
  .javadoc {
    color: #998;
    font-style: italic
  }

  .keyword,
  .css .rule .keyword,
  .winutils,
  .javascript .title,
  .nginx .title,
  .subst,
  .request,
  .status {
    color: #333;
    font-weight: bold
  }

  .number,
  .hexcolor,
  .ruby .constant {
    color: #099;
  }

  .string,
  .tag .value,
  .phpdoc,
  .tex .formula {
    color: #d14
  }

  .title,
  .id {
    color: #900;
    font-weight: bold
  }

  .javascript .title,
  .lisp .title,
  .clojure .title,
  .subst {
    font-weight: normal
  }

  .class .title,
  .haskell .type,
  .vhdl .literal,
  .tex .command {
    color: #458;
    font-weight: bold
  }

  .tag,
  .tag .title,
  .rules .property,
  .django .tag .keyword {
    color: #000080;
    font-weight: normal
  }

  .attribute,
  .variable,
  .lisp .body {
    color: #008080
  }

  .regexp {
    color: #009926
  }

  .class {
    color: #458;
    font-weight: bold
  }

  .symbol,
  .ruby .symbol .string,
  .lisp .keyword,
  .tex .special,
  .prompt {
    color: #990073
  }

  .built_in,
  .lisp .title,
  .clojure .built_in {
    color: #0086b3
  }

  .preprocessor,
  .pi,
  .doctype,
  .shebang,
  .cdata {
    color: #999;
    font-weight: bold
  }

  .deletion {
    background: #fdd
  }

  .addition {
    background: #dfd
  }

  .diff .change {
    background: #0086b3
  }

  .chunk {
    color: #aaa
  }
}