@import '../base/breakpoints';

.BrowserMatrix {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.BrowserMatrix-item {
  flex: none;
  margin: 0.5em 1em;
  text-align: center;
}

.BrowserMatrix-title {
  margin: 0;
  font-size: 0.8em;
}

.BrowserMatrix-description {
  margin: 0 0 0.5em;
  color: #808080;
  font-size: 0.8em;
  white-space: nowrap;
}

@media (--break-lg) {
  .BrowserMatrix-item {
    margin: 0.5em 1.5em;
  }
}
