.Feature {

}

.Feature-figure {
  margin-bottom: 0.75em;
  border: 1px solid hsl(0, 0%, 85%);
  transition: border-color 0.2s;
}

.Feature-image {
  display: block;
  max-width: 100%;
  height: auto;
  border: 5px solid hsl(0, 100%, 100%);
}

.Feature-title {
  margin: 0 0 0.5em;
  color: hsl(0, 0%, 25%);
  text-align: center;
  transition: color 0.1s;
}

.Feature-description {
  margin: 0 0.75em;
  font-size: 0.8em;
}

.Feature a:active .Feature-figure,
.Feature a:focus .Feature-figure,
.Feature a:hover .Feature-figure {
  border-color: hsl(150, 45%, 50%);
}

.Feature a:active .Feature-title,
.Feature a:focus .Feature-title,
.Feature a:hover .Feature-title {
  color: hsl(150, 45%, 50%);
}
