@import '../base/breakpoints';

.Grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.Grid-cell {
  flex: 1;
}

.Grid--flexCells > .Grid-cell {
  display: flex;
}

.Grid--top {
  align-items: flex-start;
}

.Grid--bottom {
  align-items: flex-end;
}

.Grid--center {
  align-items: center;
}

.Grid-cell--top {
  align-self: flex-start;
}

.Grid-cell--bottom {
  align-self: flex-end;
}

.Grid-cell--center {
  align-self: center;
}

.Grid--fit > .Grid-cell {
  flex: 1;
}

.Grid--full > .Grid-cell {
  flex: 0 0 100%;
}

.Grid--1of2 > .Grid-cell {
  flex: 0 0 50%;
}

.Grid--1of3 > .Grid-cell {
  flex: 0 0 33.3333%;
}

.Grid--1of4 > .Grid-cell {
  flex: 0 0 25%;
}

@media (break-sm) {
  .small-Grid--fit > .Grid-cell {
    flex: 1;
  }
  .small-Grid--full > .Grid-cell {
    flex: 0 0 100%;
  }
  .small-Grid--1of2 > .Grid-cell {
    flex: 0 0 50%;
  }
  .small-Grid--1of3 > .Grid-cell {
    flex: 0 0 33.3333%;
  }
  .small-Grid--1of4 > .Grid-cell {
    flex: 0 0 25%;
  }
}

@media (--break-md) {
  .med-Grid--fit > .Grid-cell {
    flex: 1;
  }
  .med-Grid--full > .Grid-cell {
    flex: 0 0 100%;
  }
  .med-Grid--1of2 > .Grid-cell {
    flex: 0 0 50%;
  }
  .med-Grid--1of3 > .Grid-cell {
    flex: 0 0 33.3333%;
  }
  .med-Grid--1of4 > .Grid-cell {
    flex: 0 0 25%;
  }
}

@media (--break-lg) {
  .large-Grid--fit > .Grid-cell {
    flex: 1;
  }
  .large-Grid--full > .Grid-cell {
    flex: 0 0 100%;
  }
  .large-Grid--1of2 > .Grid-cell {
    flex: 0 0 50%;
  }
  .large-Grid--1of3 > .Grid-cell {
    flex: 0 0 33.3333%;
  }
  .large-Grid--1of4 > .Grid-cell {
    flex: 0 0 25%;
  }
}


.Grid--gutters {
  margin-left: -1em;
}
.Grid--gutters > .Grid-cell {
  padding-left: 1em;
}

.Grid--guttersLarge {
  margin-left: -1.5em;
}
.Grid--guttersLarge > .Grid-cell {
  padding-left: 1.5em;
}

.Grid--gutters2x {
  margin-left: -2em;
}
.Grid--gutters2x > .Grid-cell {
  padding-left: 2em;
}

.Grid--gutters3x {
  margin-left: -3em;
}
.Grid--gutters3x > .Grid-cell {
  padding-left: 3em;
}

@media (break-sm) {
  .small-Grid--gutters {
    margin-left: -1em;
  }
  .small-Grid--gutters > .Grid-cell {
    padding-left: 1em;
  }
  .small-Grid--guttersLarge {
    margin-left: -1.5em;
  }
  .small-Grid--guttersLarge > .Grid-cell {
    padding-left: 1.5em;
  }
  .small-Grid--gutters2x {
    margin-left: -2em;
  }
  .small-Grid--gutters2x > .Grid-cell {
    padding-left: 2em;
  }
  .small-Grid--gutters3x {
    margin-left: -3em;
  }
  .small-Grid--gutters3x > .Grid-cell {
    padding-left: 3em;
  }
}

@media (--break-md) {
  .med-Grid--gutters {
    margin-left: -1em;
  }
  .med-Grid--gutters > .Grid-cell {
    padding-left: 1em;
  }
  .med-Grid--guttersLarge {
    margin-left: -1.5em;
  }
  .med-Grid--guttersLarge > .Grid-cell {
    padding-left: 1.5em;
  }
  .med-Grid--gutters2x {
    margin-left: -2em;
  }
  .med-Grid--gutters2x > .Grid-cell {
    padding-left: 2em;
  }
  .med-Grid--gutters3x {
    margin-left: -3em;
  }
  .med-Grid--gutters3x > .Grid-cell {
    padding-left: 3em;
  }
}

@media (--break-lg) {
  .large-Grid--gutters {
    margin-left: -1em;
  }
  .large-Grid--gutters > .Grid-cell {
    padding-left: 1em;
  }
  .large-Grid--guttersLarge {
    margin-left: -1.5em;
  }
  .large-Grid--guttersLarge > .Grid-cell {
    padding-left: 1.5em;
  }
  .large-Grid--gutters2x {
    margin-left: -2em;
  }
  .large-Grid--gutters2x > .Grid-cell {
    padding-left: 2em;
  }
  .large-Grid--gutters3x {
    margin-left: -3em;
  }
  .large-Grid--gutters3x > .Grid-cell {
    padding-left: 3em;
  }
}
