.PromoSection {
  padding: 0 var(--space);
}
.PromoSection::before,
.PromoSection::after {
  content: '\00a0'; /* &nbsp; */
  display: block;
  height: 0px;
  visibility: hidden;
}
.PromoSection::before {
  margin-bottom: var(--space);
}
.PromoSection::after {
  margin-top: var(--space);
}

.PromoSection-heading {
  text-align: center;
}

@media (--break-lg) {
  .PromoSection-list {
    padding: 0;
    text-align: center;
    list-style-position: inside;
  }
}

.PromoSection:nth-child(2n) {
  background-color: hsla(31, 15%, 50%, 0.1);
  overflow: hidden; /* Contain margins. */
}

@media (--break-lg) {
  .PromoSection {
    padding: 0 var(--space-lg);
  }
  .PromoSection::before {
    margin-bottom: var(--space-lg);
  }
  .PromoSection::after {
    margin-top: var(--space-lg);
  }
}
