.Footer {
  padding: 1.5rem 1.5rem;
  background: hsl(0, 0, 25%);
  color: hsl(0, 0, 60%);
  font-size: 0.85em;
  text-align: center;
  a {
    padding-bottom: 1px;
    border: 0;
    color: hsl(0, 0, 90%);
    &:hover, &:focus, &:active {
      color: #fff;
      text-decoration: underline;
    }
  }
}

.Footer-credits {
  margin: 0;
  padding: 0;
}

.Footer-credit {
  display: block;
  margin: 0;
  @include breakpoint("med") {
    display: inline-block;
    margin: 0 0.25em;
  }
}

.Footer-creditSeparator {
  display: none;
  @include breakpoint("med") {
    display: inline-block;
    padding: 0 0.25em;
  }
}

.Footer-social {
  a, // for if loading the social button fails
  iframe {
    display: inline-block;
    margin: 0 0 1em;
    vertical-align: top;
  }
}
