.Image {
  display: block;
  width: 40px;
  height: auto;
  margin-top: 0.2em;
}

.Image--tiny {
  width: 30px;
}

@include breakpoint("med") {
  .Image {
    width: 70px;
  }

  .Image--tiny {
    width: 40px;
  }
}
