.Section {
  margin-bottom: 2em;
}

.Section--striped {
  padding: 1.5em 1.5em 0;
  margin: 1.5em -1.5em;
  background-color: hsla(31, 15%, 50%, 0.1);
}

.Section--last {
  margin-bottom: -1.5em;
  padding-bottom: 1em;
  overflow: hidden;
}