.u-handImgSmall {
  @include breakpoint(hand) {
    width: 40px;
    height: auto;
  }
}

.u-handImgTiny {
  @include breakpoint(hand) {
    width: 30px;
    height: auto;
  }
}

$media-size-list: (
  "all" "",
  "(min-width: 570px)" "med",
  "(min-width: 768px)" "large"
);

@mixin sizes($media-name) {
  $sep: "-";
  @if $media-name == "" {
    $sep: "";
  }
  .u-#{$media-name}#{$sep}full {
    width: 100% !important;
    flex: none !important;
  }
  .u-#{$media-name}#{$sep}1of2 {
    width: 50% !important;
    flex: none !important;
  }
  .u-#{$media-name}#{$sep}1of3 {
    width: 33.3333% !important;
    flex: none !important;
  }
  .u-#{$media-name}#{$sep}2of3 {
    width: 66.6667% !important;
    flex: none !important;
  }
  .u-#{$media-name}#{$sep}1of4 {
    width: 25% !important;
    flex: none !important;
  }
  .u-#{$media-name}#{$sep}3of4 {
    width: 75% !important;
    flex: none !important;
  }
};

@each $media-size in $media-size-list {
  $query: nth($media-size, 1);
  $name: nth($media-size, 2);
  @if ($query == "all") {
    @include sizes($name);
  } @else {
    @media #{$query} {
      @include sizes($name);
    }
  }
}