<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% if page.title %}{{ page.title }} &mdash; {% endif %}{{ site.title }} &mdash; {{ site.tagline }}</title>

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name=viewport content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="{{ site.description }}">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">

  <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
  <link href="{{ site.baseUrl }}main.css" rel="stylesheet" type="text/css">

  <script class="js-allow-before-footer">
    // Google Analytics async snippet:
    // http://goo.gl/3FPNDx
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', '{{ site.gaTrackingId }}', 'auto');

    {% if site.env == 'dev' %}
      // In non-production mode, simply log GA hits to the console.
      // Note, tasks must be set before sending the first hit
      ga(function(tracker) {
        tracker.set('sendHitTask', function() {
          // Throw to stop subsequent tasks.
          throw 'Abort tracking in non-production environments.'
        });
      });
    {% endif %}
  </script>
</head>
