<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% if page.title %}{{ page.title }} &mdash; {% endif %}{{ site.title }} &mdash; {{ site.tagline }}</title>

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name=viewport content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="{{ site.description }}">
  <meta name="google-site-verification" content="q5KncOje-dNdD5uxqSOG1znSAo5Wsz5MlBcAmteQAJA" />

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">

  <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
  <link href="{{ site.baseUrl }}main.css" rel="stylesheet" type="text/css">

  <script class="js-allow-before-footer">
  (function(window) {

    // Initializes the _ga() command queue.
    window.GoogleAnalyticsObject = '_ga';
    window._ga=window._ga||function(){(_ga.q=_ga.q||[]).push(arguments)};
    window._ga.l=+new Date;

    /**
     * Shadows the `window._ga` command queue to allow for easier multi-tracking.
     */
    window.ga = (function() {
      // Randomizes the order in which tracker methods are called.
      // This is necessary because latter trackers will lose more hits
      // (for various reasons) and the results will be skewed.
      var trackerNames = ['t0', 'testing'];
      var randomizedTrackerNames = [];
      while (trackerNames.length) {
        var index = Math.floor(Math.random() * trackerNames.length);
        var name = trackerNames.splice(index, 1)[0];
        randomizedTrackerNames.push(name);
      }
      return function() {
        var args = Array.prototype.slice.call(arguments);
        var command = args[0];
        for (var i = 0, name; name = randomizedTrackerNames[i]; i++) {
          args[0] = name + '.' + command;
          _ga.apply(null, args);
        }
      }
    }());


    _ga('create', 'UA-40829935-1', 'auto');
    _ga('create', 'UA-40829935-2', 'auto', 'testing');


    {% if site.env != 'production' %}
      _ga(function() {
        var trackers = _ga.getAll();
        for (var i = 0, tracker; tracker = trackers[i]; i++) {
          tracker.set('sendHitTask', function(model) {
            console.log(model.get('name'), Date.now(),
                model.get('hitPayload').split('&').map(decodeURIComponent));

            throw 'Abort tracking in non-production environments.';
          });
        }
      });
    {% endif %}


    ga('require', 'eventTracker');
    ga('require', 'mediaQueryTracker', {
      definitions: [
        {
          name: 'Breakpoint',
          dimensionIndex: 1,
          items: [
            {name: 'xs', media: 'all'},
            {name: 'sm', media: '(min-width: 384px)'},
            {name: 'md', media: '(min-width: 576px)'},
            {name: 'lg', media: '(min-width: 768px)'}
          ]
        },
        {
          name: 'Resolution',
          dimensionIndex: 2,
          items: [
            {name: '1x',   media: 'all'},
            {name: '1.5x', media: '(-webkit-min-device-pixel-ratio: 1.5), ' +
                                  '(min-resolution: 144dpi)'},
            {name: '2x',   media: '(-webkit-min-device-pixel-ratio: 2), ' +
                                  '(min-resolution: 192dpi)'},
          ]
        },
        {
          name: 'Orientation',
          dimensionIndex: 3,
          items: [
            {name: 'landscape', media: '(orientation: landscape)'},
            {name: 'portrait',  media: '(orientation: portrait)'}
          ]
        }
      ]
    });
    ga('require', 'outboundLinkTracker');
    ga('require', 'socialWidgetTracker');

    _ga('testing.require', 'cleanUrlTracker', {
      queryDimensionIndex: 5,
      indexFilename: 'index.html',
      trailingSlash: true
    });
    _ga('testing.require', 'pageVisibilityTracker', {
      visibleMetricIndex: 1,
      hiddenMetricIndex: 2,
      fieldsObj: {
        dimension4: 'pageVisibilityTracker'
      },
      hitFilter: function(model) {
        // Sets the "Metric Property" dimension to the event value for bucketting.
        model.set('dimension6', model.get('eventValue'), true);
      }
    });

    ga('send', 'pageview', {dimension4: 'pageload'});

  }(window));
  </script>

  <script async src="https://www.google-analytics.com/analytics.js"></script>
  <script async id="twitter-wjs" src="https://platform.twitter.com/widgets.js"></script>

</head>
