<script>
(function() {
  var style = document.body.style;
  var supportsFlexbox = 'flexBasis' in style ||
      'msFlexAlign' in style || 'webkitBoxDirection' in style;

  if (!supportsFlexbox) {
    var div = document.createElement('div');
    div.className = 'Error';
    div.innerHTML = 'Your browser does not support Flexbox.  ' +
        'Parts of this site may not appear as expected.';

    document.body.insertBefore(div, document.body.firstChild);
  }
})();
</script>

<script async id="twitter-wjs" src="https://platform.twitter.com/widgets.js"></script>

<script async src='https://www.google-analytics.com/analytics.js'></script>
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-40829935-1', 'auto');
ga('set', 'dimension1', '1');
ga('set', 'transport', 'beacon');
ga('send', 'pageview');
</script>

<script type="module">
import {getCLS, getFCP, getFID, getLCP, getTTFB} from 'https://unpkg.com/web-vitals@0.2.1/dist/web-vitals.es5.min.js';

function sendToGoogleAnalytics({name, delta, id}) {
  ga('send', 'event', {
    eventCategory: 'Web Vitals',
    eventAction: name,
    eventValue: Math.round(name === 'CLS' ? delta * 1000 : delta),
    eventLabel: id,
    nonInteraction: true,
  });
}

getCLS(sendToGoogleAnalytics);
getFCP(sendToGoogleAnalytics);
getFID(sendToGoogleAnalytics);
getLCP(sendToGoogleAnalytics);
getTTFB(sendToGoogleAnalytics);
</script>
