.Demo {
  width: 100%;
  padding: .8em 1em 0;
  margin-bottom: 1em;
  background: hsla(31, 15%, 50%, 0.1);
  border-radius: 3px;
  &::after {
    content: "";
    display: block;
    margin-top: 0.8em;
    height: 1px;
  }
}

.Demo-title {
  margin-bottom: 0.25rem;
  font-size: 1em;
}