.Feature {
  margin-bottom: 2em;
  text-align: center;
}

.Feature-figure {
  margin-bottom: 0.75em;
}

.Feature-image {
  display: block;
  max-width: 100%;
  height: auto;
  border: 5px solid hsl(0, 100%, 100%);
  box-shadow: 0 0 2px 0px hsla(0, 0%, 0%, 0.5);
  transition: box-shadow 0.2s;
}

.Feature-title {
  margin-bottom: 0.5em;
  font-size: 1.1em;
  color: hsl(0, 0%, 25%);
  transition: color 0.2s;
}

.Feature-description {
  margin: 0 0.75em;
  font-size: 0.8em;
  color: #808080;
}

.Feature a {
  &:hover,
  &:active,
  &:focus {
    .Feature-image {
      box-shadow: 0 0 2px hsl(150, 45%, 50%);
    }
    .Feature-title {
      color: hsl(150, 45%, 50%);
    }
  }
}
