.Feature {
  // padding: .75em;
  margin-bottom: 2em;
  // background: hsla(31, 15%, 50%, 0.1);
}

.Feature-figure {
  margin-bottom: 0.5em;
}

.Feature-image {
  display: block;
  max-width: 100%;
  height: auto;
  // border: 1px solid hsl(0,0%,75%);

  border: 5px solid hsl(0, 100%, 100%);
  box-shadow: 0 0 2px hsla(0, 0%, 0%, 0.5);
}

.Feature-title {
  margin-bottom: 0.25em;
}

.Feature-description {
  margin: 0;
  font-size: 0.8em;
  color: #808080;
}
