.Footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 1.5rem 1rem 1rem;
  background: hsl(0, 0, 25%);
  color: hsl(0, 0, 75%);
  font-size: 0.8em;
  a {
    color: inherit;
    border-color: hsl(0, 0, 50%);
    &:hover, &:focus, &:active {
      color: #fff;
      border-color: #fff;
    }
  }
}

.Footer-credits {
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    margin: 0 0.5rem;
    line-height: 1.5;
  }
}

.Footer-social {
  max-height: 20px;
}

@media (max-width: 720px) {
  .Footer {
    flex-direction: column;
  }
  .Footer-credits {
    text-align: center;
    margin-bottom: 1em;
  }
}
