.Grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.Grid-cell {
  flex: 1;
}

.Grid--top {
  align-items: flex-start;
}

.Grid--bottom {
  align-items: flex-end;
}

.Grid--center {
  align-items: center;
}

.Grid-cell--top {
  align-self: flex-start;
}

.Grid-cell--bottom {
  align-self: flex-end;
}

.Grid-cell--center {
  align-self: center;
}

.Grid--flexCells {
  .Grid-cell {
    display: flex;
  }
}

.Grid--responsive {
  display: block;
  @include breakpoint("med") {
    display: flex;
  }
  .Grid-cell {
    display: block;
    @include breakpoint("med") {
      flex-basis: 0;
    }
  }
}

@mixin grid-gutters($name: "") {
  $sep: "-";
  @if $name == "" {
    $sep: "";
  }
  .#{$name}#{$sep}Grid--gutters {
    margin-left: -1em;
    .Grid-cell {
      padding-left: 1em;
    }
  }
  .#{$name}#{$sep}Grid--guttersLarge {
    margin-left: -1.5em;
    .Grid-cell {
      padding-left: 1.5em;
    }
  }
  .#{$name}#{$sep}Grid--gutters2x {
    margin-left: -2em;
    .Grid-cell {
      padding-left: 2em;
    }
  }
  .#{$name}#{$sep}Grid--gutters3x {
    margin-left: -3em;
    .Grid-cell {
      padding-left: 3em;
    }
  }
}

// create the default grid-gutters modifiers
@include grid-gutters();

// create grid-gutters modifiers for each breakpoint
@each $breakpoint in $breakpoints {
  $name: nth($breakpoint, 2);
  @include breakpoint($name) {
    @include grid-gutters($name);
  }
}

// Firefox doesn't yet support multiline Flexboxes
// so we have to fake it with inline-block
@supports not (flex-wrap: wrap) {
  .Grid--ffMultilineSupport {
    display: block;
    .Grid-cell {
      display: inline-block;
      vertical-align: top;
    }
  }
}