.Grid {
  display: flex;
  @media (max-width: 48em) {
    display: block;
  }
}

.Grid-cell {
  flex: 0 0 auto;
  @media (max-width: 48em) {
    width: 100%;
  }
}

.Grid--gutters {
  margin-left: -1em;
  .Grid-cell {
    padding-left: 1em;
  }
}

.Grid--flexCells {
  .Grid-cell {
    display: flex;
  }
}

.Grid--top {
  align-items: flex-start;
}

.Grid--bottom {
  align-items: flex-end;
}

.Grid--center {
  align-items: center;
}

.Grid-cell--top {
  align-self: flex-start;
}

.Grid-cell--bottom {
  align-self: flex-end;
}

.Grid-cell--center {
  align-self: center;
}
