.InputAddOn {
  display: flex;
  margin-bottom: 1em;
}

.InputAddOn-field, .InputAddOn-button {
  padding: 0.5em 0.75em;
}

.InputAddOn-field {
  border: 1px solid hsl(0, 0%, 90%);
  border-right: 0;
  border-radius: 4px 0 0 4px;
  flex: 1;
}

.InputAddOn-button {
  border: 1px solid transparent;
  border-radius: 0 4px 4px 0;
  background-color: hsl(150, 45%, 50%);
  color: #fff;
}
