.List {
  list-style: square;
  margin: 0 0 1em;
  padding: 0 0 0 1.5em;
  li {
    margin-bottom: 0.2em;
  }
}

@include breakpoint("med") {
  .List--centered {
    padding: 0;
    text-align: center;
    list-style-position: inside;
  }
}