.Showcase {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 -1em;
  padding: 0;
  list-style: none;

  li {
    padding-left: 1em;
    flex: 1 1 0;
    display: flex;
    align-items: flex-start;
    min-width: 240px;
  }

}
