.Site {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  @include ie-only {
    // `height: 100%` is needed for IE because of the `min-height` flexbox bug.
    height: 100%;
  }
}

.Site-content {
  flex: 1 0 auto;
  padding: 1.5em;
  width: 100%;

  @include breakpoint("large") {
    padding-top: 2em;
  }
}
