.Site {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.Site-content {
  flex: 1;
  width: 100%;
  padding: 1.5em;

  /* stupid IE10 tweener syntax */
  -ms-flex-preferred-size: auto;

  @include breakpoint("large") {
    padding-top: 2em;
  }
}
