/**
 * 1. Avoid the IE 10-11 `min-height` bug.
 * 2. Set `flex-shrink` to `0` to prevent browsers from letting these
 *    items shrink to smaller than their content's default minimum size.
 * 3. Use `%` instead of `vh` since `vh` is buggy in older mobile Safair.
 */

.Site {
  display: flex;
  flex-direction: column;
  height: 100%; /* 1, 3 */
}

.Site-header,
.Site-footer {
  flex: none; /* 2 */
}

.Site-content {
  flex: 1 0 auto; /* 2 */
  padding: 1.5em;
  width: 100%;
}
