<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% if page.title %}{{ page.title }} &mdash; {% endif %}Solved By Flexbox</title>

    <!-- http://t.co/dKP3o1e -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name=viewport content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <link href="{{ '/css/style.css' | absolute }}" rel="stylesheet" type="text/css">
    <meta name="description" content="Demonstrating how previously hard or impossible CSS problems can now be solved trivially with flexbox.">
    <!--[if lt IE 9]>
    <script src="{{ '/assets/javascripts/html5shiv.js' | absolute }}"></script>
    <script src="{{ '/assets/javascripts/respond.js' | absolute }}"></script>
    <![endif]-->
  </head>
  <body>
    <header class="header" role="banner">

    </header>
    <main role="main">
      {{ content }}
    </main>

    {% include google-analytics.html %}

    <script src="{{ '/scripts/highlight.js' | absolute }}"></script>
    <script>hljs.initHighlightingOnLoad()</script>

  </body>
</html>